<p>harish works!</p>
<h1 class="socialmedia">social media</h1>
<p class="aboutsm"  >
    Google LLC is an American multinational technology company that specializes in Internet-related services and products, which include online
     advertising technologies, search engine, cloud computing, software, and hardware. It is considered one of the Big Four technology companies, 
     alongside Amazon, Apple and Facebook
</p>
<div style="padding-top: 4%">
        <div class="container"> 
                <div class="row" >
                    <div class="col-md-4  col-sm-6 col-6 gridcls" style="margin-top: 10%">
                            
                        <div class="card mb-1 mr-2 shadow-sm cardcls" >                            
                            <div class="card-body">
                                <p class="card-text"><b>FaceBook</b></p>
                                <p class="cardcontent">Facebook, Inc. is an American online social media and social networking service company
                                     based in Menlo Park, California. It was founded by Mark Zuckerberg, along with
                                      fellow Harvard College students and roommates Eduardo Saverin, Andrew McCollum,
                                       Dustin Moskovitz and Chris Hughes.
                                       </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4  col-sm-6 col-6 gridcls" style="margin-top: 5%">
                            <div class="card mb-1 mr-2 shadow-sm cardcls" >
                                <div class="card-body">
                                    <p class="card-text"><b>what's up</b></p>
                                    <p class="cardcontent">WhatsApp Messenger is a cross-platform instant messaging application that allows 
                                        iPhone, BlackBerry, Android, Windows Phone and Nokia smartphone users to exchange
                                         text, image, video and audio messages for free. WhatsApp is especially popular with end
                                          users who do not have unlimited text messaging.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-6 gridcls" >
                                <div class="card mb-1  shadow-sm cardcls" >                                  
                                    <div class="card-body">
                                        <p class="card-text"><b>Amazon</b></p>
                                        <p class="cardcontent">Amazon is the largest Internet company by revenue in the world. ...
                                             Amazon also has a publishing arm, Amazon Publishing, a film and television studio, Amazon Studios, and
                                              a cloud computing subsidiary, Amazon Web Services. It produces consumer electronics including 
                                              Kindle e-readers, Fire tablets, Fire TV, and Echo devices.
                                        </p>
                                    </div>
                                </div>
                            </div>
                
                        <div class="col-md-4  col-sm-6 col-6 gridcls" style="margin-top:2%">
                            <div class="card mb-4 shadow-sm cardcls">                                  
                                <div class="card-body">
                                    <p class="card-text"><b>Google Maps</b></p>
                                    <p class="cardcontent">Scale Your Business & Engage Customers. Explore our Business Solutions Today! Global Coverage & Scale.
                                         Rich Location Data. Industry Solutions. Improve Efficiencies. 1 Billion Active Users. Bring Real World To Users. 
                                         Types: Maps SDK for Android, Directions API.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4  col-sm-6 col-6 gridcls" style="margin-top: -2%">
                                <div class="card mb-4 shadow-sm cardcls" >
                                    <div class="bd-placeholder-img card-img-top"><img src=""> </div>
                                    <div class="card-body">
                                        <p class="card-text"><b>Apple</b></p>
                                        <p class="cardcontent">The company's hardware products include the iPhone smartphone,
                                             the iPad tablet computer, the Mac personal computer, the iPod portable media player,
                                              the Apple Watch smartwatch, the Apple TV digital media player
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-6 col-sm-6 clslastgrid">
                                    <div class="card mb-4 shadow-sm cardcls " >                             
                                        <div class="card-body">
                                            <p class="card-text"><b> Flipkart</b></p>
                                            <p class="cardcontent">Flipkart is the largest Internet company by revenue in the world. ...
                                                    Flipkart also has a publishing arm, Flipkart Publishing, It produces consumer electronics including 
                                                     , Fire tablets, Fire TV, and Echo devices.
                                            </p>
                                        </div>
                                    </div>
                                </div>
            </div> 
</div>
<div>
    
</div>